h1 {
    color:rgb(19, 61, 177);
    font-family: Arial bold;
    font-size: 30px;
}


body {
    background-color: blanchedalmond;
    text-align: center;
}

.top {
    font-family: 'Franklin Gothic Medium bold';
    font-size: 15px;
    


}

